<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Asistencia</title>
</head>
<body>
   <!--  <h1>{% if Asistencia %}Editar{% else %}Nuevo{% endif %} Producto</h1> -->

    <form method="POST">
        {% csrf_token %}

        <div class="campo">
            <label for="nombres">Nombres</label>
            <input type="text" name="nombres" value="{{ Asistencia.nombres|default:'' }}" required>
        </div>

        <div class="campo">
            <label for="nombres">Apellidos</label>
            <input type="text" name="apellidos" value="{{ Asistencia.apellidos|default:'' }}" required>
        </div>

        <div class="campo">
            <label for="nombres">Tipo de Documento de Identidad</label>
            <input type="text" name="tipo_documento" value="{{ Asistencia.tipo_documento|default:'' }}" required>
        </div>

        <div class="campo">
            <label for="nombres">Número del Documento de Identidad</label>
            <input type="number" name="numero_documento" value="{{ Asistencia.numero_documento|default:'' }}" required>
        </div>

        <div class="campo">
            <label for="nombres">Número de Whatsapp</label>
            <input type="number" name="whatsapp" value="{{ Asistencia.whatsapp|default:'' }}" required>
        </div>

        <div class="campo">
            <label for="nombres">Fecha</label>
            <input type="text" name="fecha" value="{{ Asistencia.fecha|default:'' }}" required>
        </div>

        <div class="campo">
            <label for="nombres">Asistió a Formación:</label>
            <input type="text" name="asistio" value="{{ Asistencia.asistio|default:'' }}" required>
        </div>

        <button type="submit" class="registrar_asistencia">Registrar Asistencia</button>
        <a href="/asistencia/" class="cancelar_registro">Cancelar Registro</a>

    </form>

</body>
</html>